.toast-mess {
  position: fixed;
  top: 60px;
  right: 16px;
  z-index: 999;
}

.content-mess {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  min-width: 150px;
  border: 1px solid var(--primary-color);
  height: 40px;
  padding: 0 10px;
}
.content-mess .text {
  color: #111;
  font-family: MisaNotoSans-SemiBold !important;
}
.content-mess .icon {
  width: 36px;
  height: 36px;
}
